/* ProjectCarousel.css */

.carousel-control-prev-icon {
  filter: none !important;
}

.carousel-control-next-icon {
  filter: none !important;
}

/* Style for the carousel indicators (bottom bar) */
.carousel-indicators > button {
  background-color: rgba(
    186,
    207,
    224,
    1.25
  ) !important; /* Inactive indicators color */
  border-radius: 25%; /* Make indicators round */
  border: none; /* Remove border */
}

/* Style for the active indicator */
.carousel-indicators .active {
  background-color: #000; /* Active indicator color */
}

/* Ensure the indicators are visible above the image */
.carousel-indicators {
  z-index: 2; /* Make sure the indicators are above images */
  bottom: 10px; /* Adjust this value to move the indicators bar up or down */
}
